html,
body {
    margin: 0;
    padding: 0;
}

#background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#add-director-form {
    display: none;
    position: fixed;
    margin: 200px 25%;
    width: 800px;
    vertical-align: middle;
    height: 500px;
    background-color: #fff;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    font-family: "Verdana", sans-serif;
}

#add-director-form>a {
    float: right;
    line-height: 17px;
    padding: 0px;
    margin: 15px;
    font-size: 20px;
}

#add-director-form>a:hover {
    color: #0E4FA8;
    cursor: pointer;
}

#add-director-form>#title {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
}

#add-director-form #add-director>ul>li {
    list-style: none;
    height: 50px;
}

#add-director-form #add-director>ul>li>input[type="text"] {
    width: 300px;
    height: 25px;
}

#add-director-form #add-director-block {
    padding-top: 30px;
}

#add-director-form #add-director>ul>li>b {
    display: block;
    width: 150px;
    float: left;
}

#add-director-form #add-director>ul>li>input {
    float: left;
}

#add-director-form form>button {
    width: 30%;
    margin: 60px 35% 0;
    background-color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    height: 40px;
    background: #0E4FA8;
    color: #fff;
    border: none;
    cursor: pointer;
}

#add-director-form form>button:hover {
    background-color: #2070dc;
}

#add-director-form #block-photo {
    float: right;
    left: 970px;
    width: 250px;
}

#add-director-form #block-photo>sub {
    display: none;
    padding-left: 60px;
}
