@import url('https://fonts.googleapis.com/css?family=Oswald');
html,
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    background: url(../images/bg.png);
	height: 100%;
}

#wrapper {
    width: 970px;
    margin: 0 auto;
	min-height: 100%;
}

a {
    display: inline-block;
}

b {
    color: black;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.header .header-top a {
    display: inline;
    color: #0E4FA8;
    text-decoration: none;
    font-size: 55px;
    font-weight: bold;
    line-height: 55px;
}

.header .header-top {
    height: 80px;
    width: 100%;
    padding: 30px 0 0 30px;
}

.header .header-top a:visited {
    color: #0E4FA8;
    text-decoration: none;
}

.header .header-top a:active {
    text-decoration: none;
    color: #0E4FA8;
}

#menu {
    position: relative;
    background: #0E4FA8;
    width: 100%;
    height: 80px;
	margin-bottom: 0px;
}

#menu>ul {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
    font-size: 0px;
    margin-left: 30px;
}

#menu ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

#menu>ul>li {
    float: left;
    display: inline;
    font-size: 24px;
}

#menu>ul>li>a {
    position: relative;
    text-decoration: none;
    height: 80px;
    line-height: 80px;
    padding: 0 15px;
    color: #fff;
}

#menu>form {
    position: absolute;
    right: 5%;
    top: 25px;
}

#quick_search>input[type="text"] {
    height: 25px;
    width: 200px;
}

#quick_search>input[type="submit"] {
    background: url(../images/search.png) no-repeat #999;
    background-position: center;
    background-size: 40%;
    font-size: 20px;
    line-height: 30px;
    float: left;
    height: 31px;
    width: 50px;
    outline: none;
    border-style: none;
}

#quick_search>input[type="submit"]:hover {
    background-color: #888;
    cursor: pointer;
}

#quick_search>select {
    height: 31px;
    border-style: none;
    border: 0.25px solid #888;
}

#greeting {
    font-family: 'Verdana', bold;
    width: 100%;
    height: 40px;
    background-color: #DFE8F6;
    line-height: 40px;
    font-size: 14px;
    border-bottom: 1px solid #DFDFDF;
	margin-bottom: 10px; 
}

#greeting>h3 {
    padding-left: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#greeting>h3>#links {
	float: right;
	margin-right: 30px;
}

#greeting>h3 #signin {
	padding-right: 20px;
}

#menu .submenu {
    background-color: #fff;
    display: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 170px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

#menu .submenu li {
    border-bottom: 1px solid #eee;
}

#menu .submenu li:last-child {
    border-bottom: none;
}

#menu li:hover .submenu {
    position: absolute;
    display: block;
    background-color: #fff;
    color: #000;
    font-size: 20px;
}

#menu ul>li:hover>a {
    color: #eee;
    background-color: rgba(0, 0, 0, 0.1);
}

#menu ul ul>li:hover a {
    width: 150px;
    cursor: pointer;
    color: #fff;
    background-color: #aaa;
}

.submenu li a {
    color: #000;
    text-decoration: none;
    padding-left: 20px;
}
