#content {
    min-height: 1000px;
}

#main {
    float: right;
    width: 710px;
    background-color: #fff;
}

#last-added {
    background-color: #0E4FA8;
    color: #fff;
    line-height: 30px;
    height: 30px;
    padding-left: 15px;
}

.line-between {
    background-color: #E1E7F5;
    font-family: 'Verdana';
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    height: 30px;
    padding-left: 15px;
}

.block {
    height: 220px;
    padding: 10px;
    font-family: "Verdana";
    border: 1px solid #DFDFDF;
    border-bottom: none;
    color: grey;
}

.block:last-child {
    border-bottom: 1px solid #DFDFDF;
}

.block img {
    float: left;
}

.description {
    float: left;
    margin-left: 30px;
}
