#search {
    /*margin-top: 50px;*/
    display: inline-block;
    float: left;
    border: 1px solid #DFDFDF;
}

#search p {
    padding-bottom: 10px;
}

#search-main {
    display: inline-block;
    background-color: #E7E7E7;
    padding: 10px;
    width: 230px;
    font-family: 'Arial', bold;
}

#search>#search-top {
	font-family: 'Oswald', sans-serif;
    width: 250px;
    text-align: center;
    color: #bbb;
    line-height: 40px;
    height: 40px;
    background-color: #0E4FA8;
    color: #fff;
    font-size: 24px;
}

.search-field {
    width: 170px;
    height: 30px;
    margin-top: -5px;
    float: right;
}

.small-field {
    width: 68px;
    height: 30px;
    margin-top: -5px;
    text-align: center;
}

.small-input {
    float: right;
}

#search-button {
    background-color: #0E4FA8;
    margin-left: 28%;
    margin-top: 30px;
    width: 100px;
    height: 30px;
    border-style: none;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #FFF;
}

#search-button:hover {
    background-color: #2070dc;
    cursor: pointer;
}